.game-outer-box {
  justify-content: center;
  flex-direction: column;
  .game-title-box {
    justify-content: space-between;
    width: 65%;
    margin: 20px 0;
    .fa-arrow-left {
      font-size: 30px;
      cursor: pointer;
      color: $mainColor;
    }
    a {
      font-size: 24px;
      text-align: left;
      margin-left: 30px;
      font-weight: bold;
      color: black;
    }
    .fa-star {
      cursor: pointer;
    }
  }
  .gallery-box {
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    width: 65%;
    margin-top: 0px;
    @include phone {
      width: 100%;
    }
  }
  .desc-box {
    width: 65%;
    margin-top: 25px;
    line-height: 1.2;
    border-radius: 10px;
    border-top: 10px solid $mainColor;
    border-bottom: 10px solid $mainColor;
    padding: 10px 0px;
    .game-desc {
      font-family: $mainFont;
      font-size: 16px;
      text-align: left;
      white-space: pre-line;
    }
  }
  .game-bot-box {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 65%;
    justify-content: space-around;
    .attr {
      font-weight: bold;
      margin-bottom: 10px;
    }
    .complex {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  div+#amazon {
    margin: 20px 0px;
    font-style: italic;
  }
  .admin-box {
    margin-bottom: 25px;
    margin-right: 17%;
    align-self: flex-end;
    button {
      margin: 0 25px;
    }
  }
}