.game-outer-box {
  justify-content: center;
  flex-direction: column;
  .game-title-box {
    justify-content: space-between;
    width: 65%;
    margin: 20px 0;
    .fa-arrow-left {
      font-size: 24px;
      cursor: pointer;
    }
    h1 {
      font-size: 24px;
      text-align: left;
      margin-left: 30px;
      font-weight: bold;
    }
    button {
      font-family: $mainFont;
    }
  }
  .gallery-box {
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    width: 65%;
    margin-top: 0px;
    @include phone {
      width: 100%;
    }
  }
  .desc-box {
    // border-left: 3px solid $mainColor;
    // padding-left: 3px;
    // background: lightgray;
    width: 65%;
    margin-top: 50px;
    line-height: 1.2;
    .game-desc {
      font-family: $mainFont;
      font-size: 16px;
      text-align: left;
      white-space: pre-line;
    }
  }
  .game-bot-box {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 65%;
    justify-content: space-around;
    .attr {
      font-weight: bold;
      margin-bottom: 10px;
    }
  }
  .admin-box {
    // visibility: hidden;
    margin-bottom: 25px;
    button {
      margin: 0 50px;
    }
  }
}