.browser-outer-box {
  .browser-head {
    border: 3px solid red;
    padding: 1em;
    text-align: left;
    margin: 1em auto;
    // line-height: 1.2;
    h1 {
      font-size: 24px;
      font-weight: bold;
    }
  }
  .browser-inner-box {
    width: 65%;
    .browse-type {
      border: 1px solid black;
      padding: 7px;
      justify-content: space-evenly;
      width: 100%;
      margin-bottom: 5px;
      text-decoration: underline;
      color: $mainColor;
      p {
        cursor: pointer;
      }
    }
    .filter-bar {
      // visibility: hidden;
      // border: 1px solid black;
      padding: 5px;
      width: 100%;
      justify-content: space-evenly;
    }
    .preview-container {
      background: $mainColor;
      min-height: 28.1em;
      height: 100%;
      width: 100%;
      padding: 2em;
      .preview-box {
        background: white;
        width: 100%;
        -webkit-box-shadow: 7px 7px 0px 0px black; 
        box-shadow: 7px 7px 0px 0px black;
        padding: 5px;
        margin-bottom: 2em;
        cursor: pointer;
        border-radius: 7px;
        img {
          max-width: 200px;
          max-height: 200px;
        }
        .prev-text {
          justify-content: space-between;
          height: 150px;
          text-align: left;
          // line-height: 1.2;
          h2 {
            font-weight: bold;
            font-size: 18px;
            align-self: flex-start;
          }
          .prev-bot {
            width: 100%;
            justify-content: space-evenly;
            font-weight: bold;
          }
        }
      }
    }
  }
}