.home {
  justify-content: center;
  align-items: center;
  height: 100vh;
  .home-head {
    position: absolute;
    top: 0;
    background: $mainColor;
    width: 100%;
    height: 100px;
    color: #fff;
    justify-content: center;
    font-size: 30px;
  }
  .login-box {
    background: lightgray;
    width: 65%;
    padding: 20px;
  }
}