.main-header {
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  background: $mainColor;
  align-items: center;
  color: white;
  padding: 0 20px;
  @include phone {
    height: 80px;
  }
  .header-user-box {
    .profile-img {
      border-radius: 50%;
      background: white;
      max-width: 70px;
      height: auto;
      @include phone {
        max-width: 50px;
      }
    }
  }
  .site-header {
    line-height: 1;
    h1 {
      font-size: 30px;
    }
    .sub-header {
      text-align: right;
      @include phone {
        text-align: center;
        display: none;
      }
    }
  }
  .header-button-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }
}