.add-desc {
  width: 90%;
  height: 20vh;
  margin-bottom: 10px;
  font-family: $mainFont;
}

.add-outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

.add-inner-box {
  height: 100%;
  width: 60%;
  background: white;
  @include phone {
    width: 100%;
  }
}

.imgurl-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-box {
  display: flex;
  align-items: center;
  margin: 2rem;
}

.bottom-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imgurl-box>input {
  margin: 10px 0;
  width: 70%;
}

.name-input {
  width: 60%;
  margin-left: 10px;
}

.small-input {
  width: 40%;
  text-align: center;
}

.add-button {
  margin-top: 20px;
}