$color: #3F3A60;

.dash-outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.dash-inner-box {
  width: 55%;
  background: $mainColor;
  margin-top: 30px;
  min-height: 82.8vh;
  @include phone {
    width: 99%;
  };
}
.dash-box {
  display: flex;
  width: 90%;
  margin: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  background: white;
  color: black;
  border-radius: 7px;
  @include phone {
    border: 1px solid black;
    width: 99%;
  };
  @media (min-width: 735px) {
    -webkit-box-shadow: 7px 7px 0px 0px black; 
    box-shadow: 7px 7px 0px 0px black;
  }
}
.fa-search {
  color: gray;
}
.fa-star {
  color: #fee715ff;
}
.fa-plus-circle {
  color: $color;
}
.dash-box>h1 {
  font-size: xx-large;
  margin-left: 50px;
}